* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

@media screen and (max-width: 1414px) {
    button.right__btn {
        position: unset;
        margin-left: 240px !important;
    }
}

@media screen and (max-width: 1306px) {
    button.right__btn {
        margin: 0 150px !important;
    }
    .object__menu2 {
        padding: 22px 0 !important;
    }
}

@media screen and (max-width: 1200px) {
    #btn111 {
        right: -1% !important;
    }
    div.logo {
        text-align: center;
    }
    button.right__btn {
        position: unset;
        margin: 0 !important;
    }
}

@media screen and (max-width: 1070px) {
    .mid__menu {
        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    div.bottom_header {
        display: block;
    }
    .bottom_left_logo {
        margin: auto !important;
    }
    div.mid__menu {
        margin: auto !important;
    }
    .object__menu2 {
        padding: 10px 0 !important;
    }
}

@media screen and (max-width: 900px) {
    #btn111 {
        right: 2% !important;
    }
}

@media (max-width: 1900px) {
    .mid__menu-object {
        position: relative !important;
    }
}

@media (min-width: 576px) {}

@media (max-width: 768px) {
    .object__menu2,
    .object__menu3 {
        position: unset !important;
    }
    .object__menu2 {
        position: inherit !important;
    }
    .object__menu3 {
        left: 0 !important;
        position: inherit !important;
    }
    .mid__menu-object li {
        padding: 0;
    }
    ul.object__menu2 {
        padding: 10px;
    }
    ul.object__menu3 {
        background-color: aqua;
    }
    ul.object__menu3 li {
        padding: 10px;
    }
    .mid__menu-object li {
        padding: 5px;
    }
}

@media (max-width: 768px) {
    .mid__menu {
        position: unset;
        padding: 10px;
        text-align: center;
    }
    .mid__menu-object {
        display: block !important;
    }
}

@media screen and (max-width: 500px) {
    #btn111 {
        right: 4%;
    }
}

@media screen and (max-width: 376px) {
    #btn111 {
        right: 9% !important;
    }
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none !important;
}

ol,
ul {
    padding-left: 0 !important;
}

li {
    list-style: none;
}


/* header */

.header {
    margin: auto;
}

.top_header {
    display: flex;
    background-color: seagreen;
    text-align: center;
    margin: auto;
    padding: 10px 0;
}

.bottom_left_logo {
    margin: auto 0;
}

.top_header h4 {
    width: 100%;
    font-size: 12px;
    color: rgb(236, 235, 235);
}

.top_header a {
    color: rgb(236, 235, 235);
    margin-right: 30px;
}

.top_header a:hover {
    color: rgb(105, 155, 206);
}


/* menu */

.logo {
    margin: auto !important;
    padding: 10px 0;
}

.logo img {
    max-width: 100%;
    width: 65%;
}

.bottom_header {
    position: relative;
    display: flex;
    margin: 0 auto;
    color: white;
    font-weight: 600;
}

.mid__menu {
    margin: auto 0 !important;
    white-space: nowrap
}

.mid__menu ul {
    margin: auto 0 !important;
}

.mid__menu a {
    color: black;
}

.mid__menu-object {
    display: flex;
    position: relative;
}

.mid__menu-object li {
    margin: auto;
}

.right__btn {
    margin: auto 0 !important;
    position: relative;
    left: 250%;
}

.object {
    margin: 0 25px;
    position: relative;
}

.object__menu2,
.object__menu3 {
    display: none;
    position: absolute;
    z-index: 10000;
}

.object__menu2 {
    padding: 27px 0;
}

.fas {
    margin: 5px 10px;
}

.right__btn {
    border-radius: 25px;
    background-color: red;
    padding: 10px 15px;
    border: none;
    outline: none;
    color: white;
}

.object__menu2 li {
    position: relative;
    margin: 0;
    padding: 10px 0 10px 20px;
    background-color: rgb(211, 211, 211);
}

.object__menu3 li {
    padding: 20px;
}

.object__menu3 {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 !important;
    background-color: rgb(235, 222, 222);
}

.mid__menu-object li:hover .object__menu2 {
    display: block;
}

.object__menu2 li:hover .object__menu3 {
    display: block;
}


/* slider */

.slides {
    width: 100%;
    height: auto;
    position: relative;
}

.slider-img img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.content_slider {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 100%;
    margin: 0 auto !important;
    /* padding-left: 70px; */
    font-size: auto;
}

.content_slider button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 20px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    margin: auto;
    background-color: rgb(130, 190, 52);
}

.content_slider button i {
    font-size: 30px;
}

@media screen and (min-width: 1000px) {
    div.content_slider h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    .content_slider {
        top: 10%;
    }
    div.content_slider h4 {
        font-size: 15px;
    }
    .content_slider button {
        padding: 2px;
    }
    .content_slider button a {
        font-size: 14px;
    }
    .content_slider button i {
        font-size: 18px;
        padding: 4px;
        position: relative;
        right: 1%;
    }
}

@media screen and (max-width: 576px) {
    div.content_slider h4 {
        padding: 3px;
        font-size: 12px;
    }
    .content_slider button {
        padding: 0;
    }
    .content_slider button a {
        font-size: 8px;
    }
    .content_slider button i {
        padding-top: 2px;
        font-size: 20px !important;
        position: relative;
        right: 0%;
    }
    div.logo {
        text-align: center;
    }
}

@media screen and (max-width: 410px) {
    div.content_slider h4 {
        padding: 3px;
        font-size: 8px;
    }
}

.content_slider h4 {
    color: rgb(116, 106, 106);
    font-weight: initial;
    font-size: 15px;
    width: 65%;
    line-height: 150%;
    padding: 5px 0;
}

.content_slider h1 {
    font-weight: 700;
    font-size: 4vw;
}

.content_slider a {
    color: rgb(248, 248, 248);
    position: relative;
    top: -6px;
    margin: 0 5px;
    font-size: 12px;
    font-weight: 600;
}

.content_slider a:hover {
    color: blanchedalmond;
}

#arrow1 {
    font-size: 30px;
    margin: auto;
}


/* end-header */


/* content1 */


/* @media screen and (max-width: 511px) {
div.seen {
top: -30px !important;
}
}

@media screen and (max-width: 729px) {
div.seen {
padding: 0 15px;
top: -30px;
}
} */

.content {
    background-color: white;
    position: relative;
    width: 100%;
}

.content_1 {
    margin-top: 60px;
}

.content_tittle {
    text-align: center;
}

.content_tittle h1 {
    font-weight: 700;
}

.object a {
    color: black;
}

.object_content {
    text-align: center;
    border-bottom: 4px outset rgba(255, 255, 255, 0.274);
    padding: 50px 0;
    margin: 0 auto !important;
}

.object_content img {
    max-width: 100%;
    width: auto;
    height: 100px;
}

.object_content .col-flex-box {
    margin: 0 auto;
}

.object_content .col-flex {
    margin: 0 auto;
}

.logo {
    margin: 0 auto;
}

.content_bottom_tittle {
    text-align: center;
}

.seen {
    position: relative;
    top: -14px;
    width: 150px;
    margin: auto;
    background-color: white;
    padding: 2px;
}

.content_bottom_tittle h5 {
    font-size: 15px;
    font-weight: 400;
}

.object_logo .col-flex-box {
    margin: auto;
}

.object_logo img {
    max-width: 100%;
    width: 150px;
    height: 120px;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
}

.slick-arrow {
    display: none !important;
}

.slick-dots {
    display: none !important;
}


/* content2 */

.content_2 {
    width: 100%;
}

.content_container {
    padding: 70px 0;
    background-color: rgb(229, 238, 226);
    margin: 0 auto;
}

.ct2-container {
    margin: 0 auto;
    height: auto;
    width: 100%;
}

.content2_top_left {
    float: left;
    margin: 0 10%;
}

.content2_top_right {
    width: 100%;
    height: 100%;
    margin: auto !important;
    text-align: center !important;
}

.content2_top_left h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.content2_top_left h5 {
    font-size: 14px;
    line-height: 150%;
    color: rgb(154, 158, 150);
}

.content2_top_left button {
    margin-top: 20px;
    background-color: white;
    border-radius: 25px;
    color: black;
    font-weight: 700;
    padding: 11px 22px;
    font-size: 13px;
}

.content2_top_left button:hover {
    color: white;
    background-color: rgb(2, 2, 2);
}

.content2_top_right img {
    max-width: 100%;
    width: 450px;
    height: auto;
    padding: 20px 0;
}

.content_container2 {
    margin: 0 auto;
    padding: 40px 1rem;
    background-color: rgb(255, 255, 255);
}

.content2_bottom_left {
    padding: 50px 10px;
    margin: auto !important;
    text-align: center;
}

.content2_bottom_left img {
    max-width: 100%;
    width: 450px;
    height: auto;
}

.content2_bottom_right {
    padding: 0 20px;
    margin-top: 10% !important;
    height: auto;
    width: 100%;
    margin: auto;
}

.content2_bottom_right h1 {
    font-weight: 700;
    margin-bottom: 20px;
}

.content2_bottom_right h5 {
    font-size: 14px;
    line-height: 150%;
    color: rgb(154, 158, 150);
}

.content2_bottom_right button {
    margin-top: 20px;
    background-color: white;
    border-radius: 25px;
    color: black;
    font-weight: 700;
    padding: 11px 22px;
    font-size: 13px;
}

.content2_bottom_right button:hover {
    color: white;
    background-color: rgb(2, 2, 2);
}


/* content3 */

.content_3 {
    width: 100%;
    display: inline-block;
}

.content_3 .content_container {
    background-image: url("img/AdobeStock_77493701.png");
    background-size: cover;
    display: block;
}

.content_3 .content_title {
    text-align: center;
    margin: auto;
    padding-top: 40px;
}

.content_3 .content_title h1 {
    font-weight: bold;
}

.content_3 .content_title h5 {
    font-size: 13px;
    color: rgb(97, 96, 95);
    line-height: 150%;
}

.content3_content img {
    max-width: 100%;
    width: 100%;
}

.content3_content {
    margin: 0 auto;
}

.content_3 .content3_content .col-flex {
    margin: 0 auto;
}

.content_3 .content3_content .col-flex-box {
    margin: 0;
    padding: 10px;
}

.container_oj {
    background-color: white;
    border-radius: 20px;
}

.oj_img {
    width: auto;
    position: relative;
}

.oj_img .fa-play-circle {
    position: absolute;
    top: 40%;
    right: 45%;
    font-size: 45px;
    color: white;
}

.oj_ct {
    margin: 30px;
    padding-bottom: 30px;
}

.oj_ct h3 {
    font-size: 20px;
}

.oj_ct a {
    color: black;
}

.oj_ct h5 {
    font-size: 13px;
    color: rgb(131, 134, 128);
    line-height: 150%;
}

.content3_btn {
    width: 100%;
    text-align: center;
    margin-top: -30px;
    padding-bottom: 40px;
}

.content3_btn button {
    background-color: white;
    border-radius: 25px;
    color: black;
    font-weight: 700;
    padding: 11px 22px;
    font-size: 13px;
}

.content3_btn button:hover {
    color: white;
    background: black;
}


/* content4 */

.content_4 {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.content_4 .content_title {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.content_4 .content_title h5 {
    color: rgb(116, 106, 106);
    font-size: 14px;
    width: 40%;
    margin: auto;
    line-height: 150%;
}

.content_4 .content_container {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: auto;
    padding-bottom: 60px;
    background-color: white;
}

.content4_ct {
    margin: auto;
    width: 70%;
    color: black;
}

.content4_ct button {
    width: 100%;
    border-radius: 25px;
    color: rgb(2, 2, 2);
    background-color: white;
    padding: 0;
}

.content4_ct button:hover {
    width: 100%;
    border-radius: 25px;
    color: rgb(2, 2, 2);
    background-color: white;
}

.content4_ct h5 {
    float: left;
    margin-top: 8px;
    font-size: 14px;
    margin-left: 20px;
}

.content4_ct h3 {
    margin-right: 16px;
}

#more {
    float: right;
}

.content4_content {
    width: 100%;
}

.collapse {
    float: left;
    font-size: 14px;
    color: rgb(116, 106, 106);
    margin: 10px 20px;
    line-height: 150%;
}

.btn {
    margin: 10px 0;
}

#bt1 {
    background-color: rgb(219, 222, 223);
}

#bt2 {
    border-bottom: 3px solid rgb(219, 222, 223);
}

#bt3 {
    border-bottom: 3px solid rgb(219, 222, 223);
}

#bt4 {
    border-bottom: 3px solid rgb(219, 222, 223);
}

#bt5 {
    border-bottom: 3px solid rgb(219, 222, 223);
}

#bt6 {
    border-bottom: 3px solid rgb(219, 222, 223);
}

#oj1 {
    display: block;
}

#oj2 {
    display: none;
}

#oj3 {
    display: none;
}

#oj4 {
    display: none;
}

#oj5 {
    display: none;
}

#oj6 {
    display: none;
}


/* content5 */

.content_5 .red {
    margin: 0 auto;
}

.email-container {
    padding: 2% 0;
    margin: 0 auto !important;
    border-top: 4px outset rgba(255, 255, 255, 0.274) !important;
}

.email_letter {
    margin: auto;
}

.email_text {
    margin: auto;
}

.email_text h5 {
    text-align: center;
    margin: 15px auto;
    line-height: 150%;
    font-size: 10px;
    color: rgb(177, 174, 174);
}

.email_enter {
    display: flex;
}

.ct5_img {
    max-width: 100%;
    width: 150px !important;
    height: auto;
}

.ct5_content {
    width: 100%;
}

.ct5_content h2 {
    width: 100%;
}

.ct5_content h5 {
    width: 100%;
    color: rgb(78, 136, 70);
}

.email_enter input {
    border-radius: 25px;
    font-size: 20px;
    border-radius: 25px;
    margin: auto;
    height: 5%;
}

.email_enter button {
    border-radius: 20px;
    margin-left: -5.2%;
}

.blue {
    margin: 0 auto;
}

#btn111 {
    background-color: rgb(111, 170, 51) !important;
    position: relative;
    right: 5%;
    padding: 7px 4px;
    color: white;
    border-color: rgb(148, 212, 84) !important;
    outline: none;
}


/* end-content */


/* footer */

.top_footer {
    padding-top: 30px;
    text-align: center;
    background-color: rgb(20, 20, 20);
}

.footer_container {
    background-color: rgb(214, 214, 214);
}

.top_footer_content img {
    max-width: 100%;
    max-height: 100%;
    height: 120px;
    width: 120px;
}

.top_footer_soccial a {
    display: inline-block;
    margin: 30px;
    text-decoration: none;
    color: rgb(67, 66, 66);
    font-size: 20px;
    font-weight: bold;
}

.bottom_footer .col-flex {
    padding-top: 35px;
}

.col-flex {
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row wrap;
}

.col-flex-box {
    flex: 1 0;
    float: left;
}

.col-flex-box a {
    font-size: 15px;
}

.col-flex-box h4 {
    font-size: 15px;
}

.bottom_footer {
    background-color: rgb(214, 214, 214);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.green {
    margin: 0 auto;
    padding: 2% 0 0 13% !important;
}

.footer_content {
    color: rgb(43, 37, 37);
}

.footer_content h3 {
    font-size: 15px;
    font-weight: 700;
}

.footer_content_soccial a {
    text-decoration: none;
    color: rgb(68, 64, 64);
}

.footer_content_soccial a:hover {
    color: rgb(245, 229, 88);
}

.end {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.end img {
    max-width: 100%;
    width: 150px;
    height: auto;
}

.end h5 {
    font-size: 10px;
}


/* endfooter */

button:focus {
    outline: 0 !important;
    box-shadow: none !important;
    outline: none !important;
    color: #f1f1f1;
}

.btn-primary {
    border-color: #226b26 !important;
    border-width: 2px !important;
}

.btn-primary:hover {
    border-color: #000000 !important;
    outline: hidden;
}

.link {
    color: black;
    text-decoration: underline !important;
}


/* s */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion {
    margin: auto;
}

.accordion__item {
    width: 100%;
    margin: 0 auto;
    /* padding: .6rem 1.2rem; */
    /* text-align: center; */
}

.accordion__heading {
    border-bottom: 1px solid rgb(219, 217, 217) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: left;
    transition: 0.1s;
}

.accordion__icon {
    border: 0.5rem solid transparent;
    border-top-color: #333;
    transform: translateY(25%);
    transform-origin: center 37.5%;
    transition: 0.4s all ease;
}

.accordion__icon--turn {
    transform: rotate(180deg);
}

.accordion__details {
    line-height: 150%;
    color: #636363;
    padding: 0 10px;
    margin: auto 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s all ease;
}

.accordion__details p {
    padding-top: 1rem;
}


/* s */

.accordion__heading--active {
    transition: 0.4s;
    background-color: #e9f8e8;
    border-radius: 20px;
    border-bottom: none !important;
}